<!DOCTYPE html>
<html>
  <head>
    <title>Fomm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render'shared/frontend/noti' if notice %>
  <%= render'shared/backend/navbar' %>
  
  
    <%= yield %>
  
  </body>
</html>
